<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <title>{{ article.title }}</title>
  </head>
  <body>
    {% include 'articles/navbar.html' %}

    <main class="container">
        <h1>{{ article.title }}</h1>
        {% if article.image %}
          <img src="{{ article.image.url }}">
        {% endif %}
        {% comment %}
        block koment
        {% endcomment %}
        {# řádkový koment #}
        {{ article.content|safe }}
    </main>
  </body>
</html>