<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <title>List of Articles</title>
  </head>
  <body>
    {% include 'articles/navbar.html' %}

    <main class="container">
        <h1>List of Articles</h1>
        
        <ul>
            {% for article in articles %}
                <li>
                    <a href="/{{ article.id }}/">{{ article.title }}</a>
                </li>
            {% endfor %}
        </ul>

        <hr>

        <ul>
            {% for article in articles %}
                <li>
                    <a href="{% url 'article_detail' pk=article.id %}">{{ article.title }}</a>
                </li>
            {% endfor %}
        </ul>
        
    </main>
  </body>
</html>